.btn {
  border-radius: 0;
  text-transform: uppercase;
  border-width: 2px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none
}

.btn-svg {
  display: inline-flex;
  align-self: center;

  svg {
    height:1em;
    width:1em;
  }
}
