@use "../themes" as *;

.search-box {
  padding: 20px 20px 5px 20px;
  margin-bottom: 20px;
  background-color: $primary;
  box-shadow: 0 0 4px #9b9b9b;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;

  .form-control {
    background-color: transparent;
    border: 0;
  }

  .form-group {
    background-color: #ffffff;
    border: 2px solid $secondary;

    position: relative; // For focus state's z-index
    flex: 1 1 auto;
    width: 1%;
    min-width: 0; // https://stackoverflow.com/questions/36247140/why-dont-flex-items-shrink-past-content-size
    margin-bottom: 0;
  }

  .input-group-append {
    margin-left: 16px;
  }

  .input-group-prepend {
    margin-right: 16px;

    span {
      background-color: transparent;
      border: none;
    }
  }

  .btn-link {
    font-size: 0.8em;

    span {
      margin: auto;
    }

    svg {
      margin-left: 0.5em;
      transition: all 0.5s ease;

      &.rot180 {
        transform: rotate(180deg);
      }

      //display: block;
      //margin: auto;
    }
  }
}

.advanced-search {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  margin: 20px 0;
  padding: 20px;
}

.table th, .table td {
  border-top: none
}

///*main side bar*/
//.msb {
//  width: 200px;
//  background-color: #F5F7F9;
//  position: fixed;
//  left: 0;
//  top: 0;
//  right: auto;
//  min-height: 100%;
//  overflow-y: auto;
//  white-space: nowrap;
//  height: 100%;
//  z-index: 1;
//  border-right: 1px solid #ddd;
//  .navbar {
//    border: none;
//    margin-left: 0;
//    background-color: inherit;
//  }
//  .navbar-header {
//    width: 100%;
//    border-bottom: 1px solid #e7e7e7;
//    margin-bottom: 20px;
//    background: #fff;
//  }
//  .navbar-nav {
//    .panel {
//      border: 0 none;
//      box-shadow: none;
//      margin: 0;
//      background: inherit;
//    }
//    li {
//      display: block;
//      width: 100%;
//      a {
//        padding: 15px;
//        color: #5f5f5f;
//        .glyphicon, .fa {
//          margin-right: 8px;
//        }
//      }
//    }
//  }
//  .nb {
//    padding-top: 5px;
//    padding-left: 10px;
//    margin-bottom: 30px;
//    overflow: hidden;
//
//  }
//}
//ul.nv,
//ul.ns {
//  position: relative;
//  padding: 0;
//  list-style: none;
//}
//.nv {
//  li {
//    display: block;
//    position: relative;
//
//    &::before {
//      clear: both;
//      content: "";
//      display: table;
//    }
//    a {
//      color: #444;
//      padding: 10px 25px;
//      display: block;
//      vertical-align: middle;
//
//      .ic {
//        font-size: 16px;
//        margin-right: 5px;
//        font-weight: 300;
//        display: inline-block;
//      }
//    }
//  }
//  /*ns: nav-sub*/
//  .ns {
//    li {
//      a {
//        padding: 10px 50px;
//      }
//    }
//
//  }
//}

.search-box {
  input[type="text"] {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 7px 12px;
  }
}

.search-group {
  //width: 100%;
  //display: flex;
  //flex-flow: column;

  input {
    border: 0;
    //width: 100%;
    //flex: 1;
  }
  //
  //button {
  //  border: 0;
  //}
}

.my-multiselect {
  //max-width: 200px;
  position: relative;

  .input-wrapper {
    display: flex;
    border: 1px #cccccc solid;
    border-radius: 3px;
    padding: 6px 8px;
    //cursor: pointer;

    input {
      border: 0;
      max-width: calc(100% - 8px);
    }

    span {
      margin-right: auto;
      color: #b4b4b4;
    }

    .caret {
      transition: transform 0.5s ease;

      &.flip {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .options {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    border: 1px #cccccc solid;
    margin-top: 4px;
    padding: 6px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: height 0.5s ease;

    &.hide {
      display: none;
      //height: 0;
      //overflow: hidden;
    }

    .item {
      transition: background-color 0.2s ease;

      &:hover {
        background-color: #f6f6f6;
        cursor: pointer;
      }


      .msel-checkbox {
        opacity: 0;
        z-index: 1;

        &:focus + .msel-label::before {
          outline: none;
        }

        &:hover + .msel-label::before {
          cursor: pointer;
        }

        &:hover:not(:checked) + .msel-label::before {
          box-shadow: inset 0 0 4px 0 lighten($gray, 30%);
        }

        &:checked + .msel-label::after {
          font-family: "FontAwesome";
          content: "\f00c";
        }

        &:disabled + .msel-label {
          opacity: 0.65;
        }

        &:disabled + .msel-label::before {
          background-color: #eeeeee;
          cursor: not-allowed;
        }
      }

      .msel-label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding: 6px 0 6px 5px !important;
        width: calc(100% - 32px);
        cursor: pointer;
        margin-bottom: 0;

        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 17px;
          height: 17px;
          left: 0;
          margin-left: -20px;
          margin-top: 4px;
          border: 1px solid #cccccc;
          border-radius: 3px;
          background-color: #fff;
          -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
          -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
          transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        }

        &::after {
          display: inline-block;
          position: absolute;
          width: 16px;
          height: 16px;
          left: 0;
          top: 0;
          margin-left: -21px;
          padding-left: 3px;
          padding-top: 10px;
          font-size: 11px;
          color: #555555;
        }
      }
    }
  }
}
